.night-app {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background: rgb(78, 78, 78);

  .night-left-student-list {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    button {
      padding: 10px;
      font-size: 18px;
      border-color: lightgrey;
      background-color: #14374d;
      color: white;
      border-radius: 3px;
      // text-shadow:
      //   -1px -1px 0 lightgrey,
      //   1px -1px 0 lightgrey,
      //   -1px 1px 0 lightgrey,
      //   1px 1px 0 lightgrey;

      &:hover {
        cursor: pointer;
      }
    }
    .night-add-student {
      padding: 10px;
      display: flex;
      .night-student-btn {
        font-size: 15px;
      }
      input {
        padding: 15px;
        font-size: 10px;
      }
    }
    .night-add-number {
      font-family: sans-serif;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      .night-drop-menu {
        padding: 8px;
        width: 100px;
      }
    }
    .night-btn-wrapper {
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      button {
        transition: 0.5s ease-in-out;
        &:hover {
          font-weight: bold;
          border-color: #14374d;
          cursor: pointer;
        }
      }
    }
  }

  // .separator-skew {
  //   height: 100vh;
  //   border-right: 1px solid black;
  //   transform: skew(10deg);
  // }

  .night-teams-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px;
    padding: 50px;
    justify-content: space-around;

    .night-team-list {
      border: 1px solid lightgrey;
      background-color: rgb(143, 143, 143);
      height: minmax(250px);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .night-team-title {
        font-family: sans-serif;
        height: 20px;
        width: 100%;
        padding: 20px 0;
        margin-bottom: 50px;
        text-align: center;
        color: white;
        font-size: 20px;
        background-color: #016921;
        // transform: skewY(10deg);
      }
    }
  }

  .night-student-draggable {
    border: 1px solid black;
    margin: 10px;
    background-color: #e9f3ef;
    border-radius: 5px;
    border-color: lightgrey;
    box-shadow: f;
    .night-student-name {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      font-weight: bold;
    }

    .night-del-student {
      padding: 10px;
      font-size: 18px;
      border-color: lightgrey;
      background-color: #14374d;
      color: white;
      border-radius: 3px;
    }
  }
}
